.homesection{
    margin-top:0px;
    padding:0;
    gap:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(227, 216, 216,0.3); */
    overflow: hidden;
    
  
   
    
    
}
.description{
    width:400px;
}
.shopbtn{
   background-color: #0067a0 ;
   outline: none;
   cursor: pointer;
   height:40px;
   width: 150px;
   border: 2px solid white;
   border-radius: 10px;
   color: white;

}
.shopbtn:hover{
    transform: rotate(1deg) translateX(3px) scale(1.1);
    
    
}
@media  screen and (max-width:600px){
    .homesection{
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        width:400px;
       overflow: hidden;
        margin-left: 5px;
        /* background-color: red; */
        
  
        

    }
    
    .description{
        width:220px;
        text-align: justify;
        

    }
    .shopbtn{
        width:100px;
        height:30px;
        background-color: #0067a0 ;
        outline: none;
        cursor: pointer;
       
        border: 2px solid white;
        border-radius: 10px;
        color: white;
    }
    .homeholder{
        overflow: hidden;
    }
    .homeimage{
        height: 250px;
        width: 250px;
    }
 
}